@page "/upload"
@using DemoUpload.Client.Componentes.Servicos

@inject ILogger<Upload> logger
@inject ServicoUploadArquivos servicoUploadArquivos

<div class="container">
	<h3>Demo de Upload </h3>
	<form class="row" @onsubmit="aoEnviar" @onsubmit:preventDefault="true">
		<label for="arquivo" class="form-label">Selecione arquivo</label>
		<InputFile type="file" id="arquivo" class="form-control mt-3" accept="image/*" oninput="aoMudarArquivo" />
		<button class="btn btn-primary form-control mt-3" type="submit">
			Enviar arquivo
		</button>
		@if (!string.IsNullOrEmpty(urlImagem))
		{
			<img src="@urlImagem" class="form-control mt-3" />
		}

	</form>

</div>

@code {
	private string urlImagem = "";
	private IBrowserFile? arquivo;

	private void aoMudarArquivo(InputFileChangeEventArgs e)
	{
		arquivo = e.File;
		logger.LogInformation(arquivo.Name);
		Console.WriteLine(arquivo.Name);
	}

	private async Task aoEnviar(EventArgs e)
	{
		if (arquivo != null)
		{
			urlImagem = await servicoUploadArquivos.UploadArquivo(arquivo);
			logger.LogInformation(urlImagem);
		}
	}
}
